.btn-response.error
{
    background-color: $error;
    background-repeat: no-repeat ;
    background-image: linear-gradient(0deg, $error 0%, darken($error, 10) 50%, $error 100%); 
    animation: background 0.3s forwards ease-in

}

.btn-response.valid
{
    background-color: $valid;
    background-repeat: no-repeat ;
    background-image: linear-gradient(0deg, $valid 0%, darken($valid, 20) 50%, $valid 100%); 
    animation: background 0.3s forwards ease-in-out
}

@keyframes background {
    0% {    background-size: 100% 0%;
    }
    100% {background-size: 100% 100%}
}


