.tooltip {
    background-color: #c2c2c2f1;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    transition-delay: 0.3s;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
}

.tooltip.show {
    opacity: 1;
    transition: opacity 0.3s ease;
    transition-delay: 1000ms;
}