@font-face {
    font-family: 'Urbanist-Regular';
    src: url('./assets/fonts/Urbanist-Regular.ttf');
  }

@font-face {
    font-family: "Urbanist-Bold";
    src: url('./assets/fonts/Urbanist-Bold.ttf');
}

@font-face {
    font-family: "Urbanist-Medium";
    src: url('./assets/fonts/Urbanist-Medium.ttf');
}